div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

button {
  color: white;
  font-size: 20px;
}

input {
  width: 35vw;
}

.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
